* {
  /* comment out margin and see why I like to set the margin&padding at zero. if you prefer the space remove properties */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float_left {
  float: left;
}

#section_article_column {
  width: 65%;
}

#aside_column {
  width: 35%;
}

header,
nav,
footer {
  height: 70px;
}

section,
article {
  height: 340px;
}

header {
  background-color: lightblue;
  
}

nav {
  background-color: lightslategray;
  color: #f5f5f5;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

li {
  display: inline;
}

section {
  background-color: lightcoral;
  padding: 20px;
}

article {
  background-color: blueviolet;
  padding: 20px;
}

aside {
  background-color: yellow;
  height: 680px;
  padding: 20px;
  text-align: center;
}

footer {
  clear: both;
  background-color: lightseagreen;
}

img {
  border: 1px black solid;
  width: 75%;
  height: 75%;
}